<div class="prefooter"></div>

<footer class="footer" role="contentinfo">
	<div class="container">
							<div class="footer-widgets row">
              	                    <div class="footer-area-1 col-md-3 col-sm-6">
                    <section class="widget text-1 widget_text"><div class="widget-inner"><h3 class="widget-title">About Us</h3>			<div class="textwidget"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu nibh, commodo in tincidunt quis, mattis vitae sapien. Vivamus a diam non arcu porttitor condimentum.</p>
</div>
		</div></section>
                <section class="widget widget-th-logo">
            <div class="widget-inner">
                                <div class="th-logo-widget">
                                    </div>
            </div>
        </section>

                            </div>
                                                    <div class="footer-area-2 col-md-3 col-sm-6">
                    
				<section class="widget widget-th-contact-info">
			<div class="widget-inner">
				<h3 class="widget-title">Contact</h3>
				    <div class="th-contact-info-widget">
					<div class='icon-blocks'>
                        <div class="icon-block">
                            <p>
                                <a  href='mailto:stay@fancyhotel.com'>
                                <i class='fa fa-envelope-o'></i>
                                <span>stay@fancyhotel.com</span></a>
                            </p>
                        </div>
                    <div class="icon-block"><p><a  href='tel:(+237)662973406'><i class='fa fa-phone'></i><span>(+237) 662-973-406</span></a></p></div><div class="icon-block"><p><i class='fa fa-map-marker'></i><span>Visit Us</span></p></div></div>				</div>
			</div>
		</section>

		
        		<section class="widget widget-social">
    		<div class="widget-inner">
        		                <h3 class="widget-title">Social</h3>
                        			<div class="soc-widget">
        			<a target='_blank' href='#'>
                    <i class='soc-icon fa fa-facebook-official'></i></a><a target='_blank' href='#'><i class='soc-icon fa fa-twitter'></i></a><a target='_blank' href='#'><i class='soc-icon fa fa-instagram'></i></a>           			</div>
    			</div>
		</section>
        
		                    </div>
                                                     <div class="footer-area-3 col-md-3 col-sm-6">
                    
				<section class="widget widget-th-payments">
			<div class="widget-inner">
									<h3 class="widget-title">Payments Accepted</h3>
								<div class="th-payments-widget">
					<img src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/footer_visa.png' alt='Visa' width='63' height='23'><img src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/footer_paypal.png' alt='PayPal' width='82' height='22'><img src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/footer_mastercard.png' alt='MasterCard' width='60' height='38'><img src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/footer_amex.png' alt='AMEX' width='41' height='40'>				</div>
			</div>
		</section>

		                    </div>
                             <div class="footer-area-4 col-md-3 col-sm-6">
                    		<section class="widget recent-posts-4 widget_recent_entries"><div class="widget-inner">		<h3 class="widget-title">Recent Posts</h3>		<ul>
					<li>
				<a href="#">Hello 1</a>
						</li>
					<li>
				<a href="#">This is a Quote</a>
						</li>
					<li>
				<a href="#">What is your name?</a>
						</li>
					<li>
				<a href="#">Best elites</a>
						</li>
					<li>
				<a href="#">Awesomes</a>
						</li>
				</ul>
		</div></section>		                    </div>
                				</div>
			    </div>
    <div class="footer-btm-bar">        
        <div class="container">    
            <div class="footer-copyright row">
                <div class="col-xs-12">
                    <p><span class='footer_copy'> © 2017 FancyHotel</span> - <span class='footer_credit'>Designed by <a target="_blank" href="http://bhent.xyz/">Bhent Ltd</a></span></p>
                </div>
            </div>
        </div>
    </div>
</footer>

    
<!-- <script type='text/javascript'>
/* <![CDATA[ */
var th_ajax = {"ajaxurl":"http:\/\/demo.themovation.com\/bellevue\/hotel\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script> -->

<!-- <script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/themes/bellevue-child/assets/js/th_single_product_page.js?ver=1'></script> -->
<!-- <script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/bellevue-shortcodes/js/init.js?ver=1.1'></script> -->
<!-- <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false&#038;key=AIzaSyBdRKjX48VHtm-qKnzKxYKTBi2GoWWoDdk&#038;ver=1.0.3'></script> -->
<!-- <script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/bellevue\/hotel\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/bellevue\/hotel\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/demo.themovation.com\/bellevue\/hotel\/cart-2\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script> -->
<!-- <script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.6.13'></script> -->
<!-- <script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script> -->
<!-- 
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/bellevue\/hotel\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/bellevue\/hotel\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
 -->
<!-- 
<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.6.13'></script>
 -->
<!--  
<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
 -->
 <!-- 
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/bellevue\/hotel\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/bellevue\/hotel\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
 -->
<!-- 
<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.6.13'></script>
 -->

<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/themes/bellevue/assets/js/vendor/vendor_footer.js?ver=1.0'></script>

<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/themes/bellevue/assets/js/main.js?ver=1.1'></script>

<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/themes/bellevue/assets/js/vendor/headhesive.min.js?ver=1.1.1'></script>


<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-includes/js/wp-embed.min.js?ver=4.7.3'></script>

<!-- 
<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/themes/bellevue/demo/js/demo_options.js?ver=1'></script>
 -->
<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/formidable/js/jquery/jquery.placeholder.min.js?ver=2.3.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var frm_js = {"ajax_url":"http:\/\/demo.themovation.com\/bellevue\/hotel\/wp-admin\/admin-ajax.php","images_url":"http:\/\/demo.themovation.com\/bellevue\/hotel\/wp-content\/plugins\/formidable\/images","loading":"Loading\u2026","remove":"Remove","offset":"4","nonce":"8d561621de","id":"ID","no_results":"No results match"};
/* ]]> */
</script>

<script type='text/javascript' src='http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/formidable/js/formidable.min.js?ver=2.03.01'></script>