<header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" data-transparent-header="true">
    
                <!-- top navigation -->
                <div class="top-nav">
                    <div class="container">
                        <div class="row col-md-12">
                            <div class="top-nav-text">
                                <p>Welcome to FANCY-HOTEL!</p>                            </div>
                            <div class="top-nav-icon-blocks"><div class="icon-block"><p><a  href='mailto:stay@fancyhotel.com'><i class='fa fa-envelope-o'></i><span>stay@fancyhotel.com</span></a></p></div><div class="icon-block"><p><a  href='#'><i class='fa fa-map-marker'></i><span>How to Find Us</span></a></p></div><div class="icon-block"><p><a  href='tel:(+237)662973406'><i class='fa fa-phone'></i><span>(+237) 662-973-406</span></a></p></div><div class="icon-block"><p><a  href='#'></i><span></span></a></p></div></div>                        </div>
                    </div>
                </div><!-- END top navigation -->
                	<div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="logo">
            <a href="/">
           	 <h3 style="color: #ffffff">FANCY-HOTEL</h3>
           	</a>
                <!-- <a href="/">
                   <img class="logo-trans logo-reg" src='#'  alt="Ex-Hotel" />
                   <img class="logo-main logo-reg" src='#'   alt="Ex-Hotel" />                    
				</a> -->
            </div>
        </div>

        <div class='themo_cart_icon'><a href='#'><i class='fa fa-handshake-o'></i></a></div>
    	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      	<ul id="menu-primary-navigation" class="nav navbar-nav">
      		<li class="active dropdown menu-home">
      			<a class="dropdown-toggle" href="#">Home <b class="caret"></b></a>
		<!-- <ul class="dropdown-menu">
			<li class="menu-home-master-slider">
				<a href="#">Home – Master Slider</a>
			</li>
			<li class="active menu-home-flexslider">
				<a href="#">Home – Flexslider</a>
			</li>
			<li class="menu-home-call-to-action">
				<a href="#">Home – Call to Action</a>
			</li>
			<li class="menu-home-custom-form">
				<a href="#">Home – Custom Form</a>
			</li>
		</ul> -->
</li>
<li class="dropdown menu-pages"><a class="dropdown-toggle" href="#">Rooms <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li class="menu-explore">
			<a href="#">Single Rooms </a>
		</li>
		<li class="menu-double">
			<a href="#">Double Rooms </a>
		</li>
		<li class="menu-packages-and-specials">
			<a href="#">VIP</a>
		</li>
	
	</ul>
</li>
<li class="dropdown menu-shortcodes"><a class="dropdown-toggle" href="#">Book <b class="caret"></b></a>
<!-- <ul class="dropdown-menu">
	<li class="menu-element-shortcodes"><a href="#">Element 1</a></li>
	<li class="menu-typography-shortcodes"><a href="#">Element 2</a></li>
	<li class="menu-media-shortcodes"><a href="#">Element 3</a></li>
</ul> -->
</li>
<li class="dropdown menu-blog">
	<a class="dropdown-toggle" href="#">Why Us ? <b class="caret"></b></a>
	<!-- <ul class="dropdown-menu">
		<li class="menu-masonry-blog">
			<a href="#">Masonry Blog</a>
		</li>
		<li class="menu-masonry-blog-sidebar">
			<a href="#">Masonry Blog + Sidebar</a>
		</li>
		<li class="menu-standard-blog">
			<a href="#">Standard Blog</a>
		</li>
		<li class="menu-standard-blog-sidebar">
			<a href="#">Standard Blog + Sidebar</a>
		</li>
	</ul> -->
</li>
<li class="dropdown menu-blog">
	<a class="dropdown-toggle" href="#">Blog <b class="caret"></b></a>
</li>
</ul>    	</nav>
	</div>
</header>