<div class="wrap" role="document">
  
    <div class="content">

        
<div class="inner-container">
	<div id='home-slider'><style scoped>#main-flex-slider .themo_slider_0{padding-top:235px ; padding-bottom:235px }
#main-flex-slider .themo_slider_1{padding-top:235px ; padding-bottom:265px }
</style><div id="main-flex-slider" class="flexslider"><ul class="slides"><li><div class="slider-bg slide-cal-center form-bg light-bg light-text themo_slider_0" style=" background-image:url('http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/home-form.jpg'); background-attachment:scroll; background-position:center bottom; background-repeat:no-repeat; background-size:cover;"><div class='container'><div class="row lrg-txt "><h1 class="slider-title">Travellers Choice Award 2017</h1><div class="slider-subtitle "><p>&#8216;Best Hotel in Cameroon&#8217;</p>
</div><div class="simple-conversion"><div class="frm_forms  with_frm_style frm_style_formidable-style" id="frm_form_3_container">
<form enctype="multipart/form-data" method="post" class="frm-show-form " id="form_2ssykv" >
<div class="frm_form_fields ">
<fieldset>

<input type="hidden" name="frm_action" value="create" />
<input type="hidden" name="form_id" value="3" />
<input type="hidden" name="frm_hide_fields_3" id="frm_hide_fields_3" value="" />
<input type="hidden" name="form_key" value="2ssykv" />
<input type="hidden" name="item_meta[0]" value="" />
<input type="hidden" id="frm_submit_entry_3" name="frm_submit_entry_3" value="04e7c23f96" /><input type="hidden" name="_wp_http_referer" value="/bellevue/hotel/" />
<div id="frm_field_16_container" class="frm_form_field form-field  frm_none_container">
    <label for="field_qy05f8" class="frm_primary_label">Name
        <span class="frm_required"></span>
    </label>
    <input type="text" id="field_qy05f8" name="item_meta[16]" value=""  placeholder="Name"  />

    
    
</div>
<div id="frm_field_18_container" class="frm_form_field form-field  frm_none_container">
    <label for="field_2ywico" class="frm_primary_label">Phone Number
        <span class="frm_required"></span>
    </label>
    <input type="text" id="field_2ywico" name="item_meta[18]" value=""  placeholder="Phone Number"  />

    
    
</div>
<div id="frm_field_17_container" class="frm_form_field form-field  frm_required_field frm_none_container">
    <label for="field_3asv29" class="frm_primary_label">Email Address
        <span class="frm_required">*</span>
    </label>
    <input type="text" id="field_3asv29" name="item_meta[17]" value=""  placeholder="Email Address" data-reqmsg="This field cannot be blank."  />

    
    
</div>
<input type="hidden" name="item_key" value="" />
<div class="frm_submit">

<input type="submit" value="Send"  />
<img class="frm_ajax_loading" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/formidable/images/ajax_loader.gif" alt="Sending" style="visibility:hidden;" />

</div></fieldset>
</div>
</form>
</div>
</div>
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- /.slider-bg -->
</li>
<li>
<div class="slider-bg slide-cal-center light-text themo_slider_1" style=" background-image:url('http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/call-to-action.jpg');    ">
<div class='container'>
    <div class="row ">
        <div class="slider-content col-sm-6">
            <h1 class="slider-title">
                Feel the Ocean Breeze
            </h1>
                <div class="slider-subtitle ">
                    <p>Rooms from 10K/night!</p>
                </div>
                    <div class='page-title-button '>
                        <a href="#rooms" class="btn btn-cta   th-btn">View Rooms &amp; Suites</a>
                    </div>
        </div>
    </div>
        <!-- /.row -->
</div><!-- /.container -->
</div><!-- /.slider-bg -->
</li></ul><a href="#the-house" target="_self" class="slider-scroll-down th-icon th-i-down"></a></div><!-- /.main-flex-slider --></div>		<script>
			jQuery(window).load(function() {
				themo_adjust_padding_transparent_header('#main-flex-slider .themo_slider_0'); themo_adjust_padding_transparent_header('#main-flex-slider .themo_slider_1');				themo_start_flex_slider('#main-flex-slider','fade', 'swing', true, true, 4000, 550, false, true, true, true, false);
			});
		</script>
	    	
    
	    
    <style scoped>
section#themo_html_2{background-color:#fbfcfd;}section#themo_html_2{padding-top:80px; padding-bottom:25px}</style>


<div id='the-house' >
<section id="themo_html_2" class=" content-editor "  >
<div class='container'><div class="row">
    <div class="section-header col-xs-12 centered">
        <h2 >Our Hotel</h2>		    	    	
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br>
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div><!-- /.section-header -->        
</div><!-- /.row -->   

</div><!-- /.container --></section>
</div>


<style scoped>
section#themo_thumb_slider_1{background-color:#fbfcfd;}section#themo_thumb_slider_1{padding-top:25px; padding-bottom:75px}</style>


<div>
<section id="themo_thumb_slider_1" class=" thumb-slider "  >
<div class='container'>
    <div class="row">
        <div id="themo_thumb_slider_1_inner" class="thumb-flex-slider flexslider flex-landscape col-xs-12">
            <ul class="slides gallery">
                <li class="thumb-flex-slider-img-1">
                    <img width="255" height="170" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_01.jpg" class="attachment-themo_thumb_slider size-themo_thumb_slider wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_01.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_01-150x100.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_01-120x80.jpg 120w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_01-60x40.jpg 60w" sizes="(max-width: 255px) 100vw, 255px" />
                </li>
                <li class="thumb-flex-slider-img-2">
                    <img width="255" height="170" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_02.jpg" class="attachment-themo_thumb_slider size-themo_thumb_slider wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_02.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_02-150x100.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_02-120x80.jpg 120w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_02-60x40.jpg 60w" sizes="(max-width: 255px) 100vw, 255px" />
                </li>
                <li class="thumb-flex-slider-img-3">
                    <img width="255" height="170" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_03.jpg" class="attachment-themo_thumb_slider size-themo_thumb_slider wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_03.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_03-150x100.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_03-120x80.jpg 120w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_03-60x40.jpg 60w" sizes="(max-width: 255px) 100vw, 255px" />
                </li>
                <li class="thumb-flex-slider-img-4">
                    <img width="255" height="170" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_04.jpg" class="attachment-themo_thumb_slider size-themo_thumb_slider wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_04.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_04-150x100.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_04-120x80.jpg 120w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_04-60x40.jpg 60w" sizes="(max-width: 255px) 100vw, 255px" />
                </li>
                <li class="thumb-flex-slider-img-5">
                    <img width="255" height="170" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_05.jpg" class="attachment-themo_thumb_slider size-themo_thumb_slider wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_05.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_05-150x100.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_05-120x80.jpg 120w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/hotel_home_05-60x40.jpg 60w" sizes="(max-width: 255px) 100vw, 255px" />
                </li>
            </ul><!-- /.slides -->
        </div> <!-- /.thumb-flex-slider -->
    </div><!-- /.row -->			
    <script>
			jQuery(window).load(function() {
				jQuery('.thumb-flex-slider').show();
				themo_start_thumb_slider('#themo_thumb_slider_1_inner');
			});
	</script>
</div><!-- /.container -->
</section>
</div>

<style scoped>
section#themo_html_3{background-color:#ebeced;}section#themo_html_3{padding-top:50px; padding-bottom:45px}</style>


<div id='wild-beauty' >
<section id="themo_html_3" class=" content-editor "  >
    <div class='container'>        
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Welcome to Paradise</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <p>Consequat. Duis aute irure dolor in reprehenderit in     voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="col-md-6">
                        <iframe src="https://player.vimeo.com/video/44372899?color=6ec3b3&amp;title=0&amp;byline=0&amp;portrait=0" width="550" height="309" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            </div>                            	
        </div>
	
    </div><!-- /.container -->
</section>
</div>


<style scoped>
section#themo_rooms_1{padding-top:75px; padding-bottom:75px}</style>


<div id='rooms' >
<section id="themo_rooms_1" class=" rooms "  >
    <div class='container'>
        <div class="row">
            <div class="section-header col-xs-12 centered">
                <h2 >Rooms & Suites</h2>		    	    	
                <p>Choose from a variety of sizes and styles.</p>
			</div><!-- /.section-header -->        
        </div><!-- /.row -->   
   <div id="filters" class="rooms-filters"><span>Sort:</span>
        <a href="#" data-filter="*" class="current">All</a>
        <a href='#' data-filter='#themo_rooms_1 .p-en-suite'>En-suite</a>
        <a href='#' data-filter='#themo_rooms_1 .p-king-size-bed'>King</a>
        <a href='#' data-filter='#themo_rooms_1 .p-kitchen'>Kitchen</a>
        <a href='#' data-filter='#themo_rooms_1 .p-ocean-view'>Ocean View</a>
        <a href='#' data-filter='#themo_rooms_1 .p-queen'>Queen</a>
        <a href='#' data-filter='#themo_rooms_1 .p-under-200'>Under $200</a>
    </div>
    <div id="rooms-row" class="rooms-row row themo_rooms_1 three-columns">  <div id=themo_rooms_1-post-383 class="themo_rooms type-themo_rooms rooms-item item col-lg-4 col-md-4 col-sm-6 p-en-suite p-king-size-bed p-kitchen p-queen post-383 status-publish format-standard has-post-thumbnail hentry themo_room_type-en-suite themo_room_type-king-size-bed themo_room_type-kitchen themo_room_type-queen">
        <div class="room-wrap">
            <img width="380" height="380" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-380x380.jpg" class="img-responsive room-img wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-380x380.jpg 380w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-150x150.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-300x300.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-180x180.jpg 180w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-100x100.jpg 100w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-255x255.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-80x80.jpg 80w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-40x40.jpg 40w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-60x60.jpg 60w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01-360x360.jpg 360w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_01.jpg 400w" sizes="(max-width: 380px) 100vw, 380px" />
                <div class="room-overlay"></div>
                    <div class="room-inner">
                        <div class="room-center">
                            <h3 class="room-title">Signature Suite</h3>
                            <p class="room-sub">Sleeps 2, Queen Bed.</p>
                <div class="pricing-cost">25K<span>/night</span></div>
                </div><!-- /.room-center -->
                <a class="room-link" href="#"></a>
        </div><!-- /.room-inner -->
    </div><!-- /.room-wrap -->
</div><!-- /.col-md -->
        <div id=themo_rooms_1-post-386 class="themo_rooms type-themo_rooms rooms-item item col-lg-4 col-md-4 col-sm-6 p-en-suite p-kitchen post-386 status-publish format-standard has-post-thumbnail hentry themo_room_type-en-suite themo_room_type-kitchen">
        <div class="room-wrap">
            <img width="380" height="380" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-380x380.jpg" class="img-responsive room-img wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-380x380.jpg 380w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-150x150.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-300x300.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-180x180.jpg 180w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-100x100.jpg 100w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-255x255.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-80x80.jpg 80w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-40x40.jpg 40w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-60x60.jpg 60w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03-360x360.jpg 360w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_03.jpg 400w" sizes="(max-width: 380px) 100vw, 380px" />
        <div class="room-overlay"></div>
        <div class="room-inner"><div class="room-center"><h3 class="room-title">Seaview Guestroom</h3><p class="room-sub">Sleeps 2, Private En Suite.</p>
<div class="pricing-cost">169K<span>/night</span></div></div><!-- /.room-center --><a class="room-link" href="h#"></a></div><!-- /.room-inner --></div><!-- /.room-wrap --></div><!-- /.col-md --><div id=themo_rooms_1-post-385 class="themo_rooms type-themo_rooms rooms-item item col-lg-4 col-md-4 col-sm-6 p-en-suite p-king-size-bed p-kitchen post-385 status-publish format-standard has-post-thumbnail hentry themo_room_type-en-suite themo_room_type-king-size-bed themo_room_type-kitchen"><div class="room-wrap"><img width="380" height="380" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-380x380.jpg" class="img-responsive room-img wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-380x380.jpg 380w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-150x150.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-300x300.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-180x180.jpg 180w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-100x100.jpg 100w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-255x255.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-80x80.jpg 80w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-40x40.jpg 40w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-60x60.jpg 60w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02-360x360.jpg 360w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_02.jpg 400w" sizes="(max-width: 380px) 100vw, 380px" /><div class="room-overlay"></div><div class="room-inner"><div class="room-center"><h3 class="room-title">Studio Suite</h3><p class="room-sub">Sleeps 2, King Bed, Amazing Views.</p>
<div class="pricing-cost">149K<span>/night</span></div></div><!-- /.room-center --><a class="room-link" href="#"></a></div><!-- /.room-inner --></div><!-- /.room-wrap --></div><!-- /.col-md --><div id=themo_rooms_1-post-37 class="themo_rooms type-themo_rooms rooms-item item col-lg-4 col-md-4 col-sm-6 p-en-suite p-kitchen p-queen post-37 status-publish format-standard has-post-thumbnail hentry themo_room_type-en-suite themo_room_type-kitchen themo_room_type-queen"><div class="room-wrap"><img width="380" height="380" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-380x380.jpg" class="img-responsive room-img wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-380x380.jpg 380w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-150x150.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-300x300.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-180x180.jpg 180w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-100x100.jpg 100w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-255x255.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-80x80.jpg 80w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-40x40.jpg 40w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-60x60.jpg 60w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04-360x360.jpg 360w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_04.jpg 400w" sizes="(max-width: 380px) 100vw, 380px" /><div class="room-overlay"></div><div class="room-inner"><div class="room-center"><h3 class="room-title">Business Guestroom</h3><p class="room-sub">Sleeps 2, Ocean Views, Queen Bed.</p>
<div class="pricing-cost">105K<span>/night</span></div></div><!-- /.room-center --><a class="room-link" href="#"></a></div><!-- /.room-inner --></div><!-- /.room-wrap --></div><!-- /.col-md --><div id=themo_rooms_1-post-387 class="themo_rooms type-themo_rooms rooms-item item col-lg-4 col-md-4 col-sm-6 p-en-suite p-under-200 post-387 status-publish format-standard has-post-thumbnail hentry themo_room_type-en-suite themo_room_type-under-200"><div class="room-wrap"><img width="380" height="380" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-380x380.jpg" class="img-responsive room-img wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-380x380.jpg 380w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-150x150.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-300x300.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-180x180.jpg 180w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-100x100.jpg 100w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-255x255.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-80x80.jpg 80w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-40x40.jpg 40w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-60x60.jpg 60w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05-360x360.jpg 360w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_05.jpg 400w" sizes="(max-width: 380px) 100vw, 380px" /><div class="room-overlay"></div><div class="room-inner"><div class="room-center"><h3 class="room-title">Classic Guestroom</h3><p class="room-sub">Sleeps 4, Bunk Beds.</p>
<div class="pricing-cost">18K<span>/bed</span></div></div><!-- /.room-center --><a class="room-link" href="#"></a></div><!-- /.room-inner --></div><!-- /.room-wrap --></div><!-- /.col-md --><div id=themo_rooms_1-post-384 class="themo_rooms type-themo_rooms rooms-item item col-lg-4 col-md-4 col-sm-6 p-ocean-view p-under-200 post-384 status-publish format-standard has-post-thumbnail hentry themo_room_type-ocean-view themo_room_type-under-200"><div class="room-wrap"><img width="380" height="380" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-380x380.jpg" class="img-responsive room-img wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-380x380.jpg 380w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-150x150.jpg 150w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-300x300.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-180x180.jpg 180w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-100x100.jpg 100w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-255x255.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-80x80.jpg 80w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-40x40.jpg 40w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-60x60.jpg 60w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06-360x360.jpg 360w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/07/hotel_room_06.jpg 400w" sizes="(max-width: 380px) 100vw, 380px" /><div class="room-overlay"></div><div class="room-inner"><div class="room-center"><h3 class="room-title">Junior Suite</h3><p class="room-sub">Sleeps 1, Single Bed.</p>
<div class="pricing-cost">10K<span>/night</span></div></div><!-- /.room-center --><a class="room-link" href="#"></a></div><!-- /.room-inner --></div><!-- /.room-wrap --></div><!-- /.col-md --></div><!-- /.row --></div><!-- /.container --></section>
</div>


<div id='why-us'>
<section id="themo_tour_1" class="floated-blocks">
<style scoped>
section#themo_tour_1_0{background-image:url('http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_tour_01.jpg'); background-attachment:scroll; background-position:center bottom; background-repeat:no-repeat; background-size:cover;}section#themo_tour_1_0{padding-top:85px; padding-bottom:85px}</style>


<div  >
<section id="themo_tour_1_0" class=" float-block img-right light-text full-header-img"  >
<div class='container'><div class="row"><div class="float-content col-sm-8"><div class="center-table-con"><div class="center-table-cell"><h2 class="tour-content-title tour-title-0">5 star hospitality</h2><div class="tour-content-0"><p>Nulla at mauris accumsan eros ullamcorper tincidunt at nec ipsum. In iaculis est ut sapien ultrices, vel feugiat nulla lobortis. Donec nec quam accumsan, lobortis.</p>
</div><div class="tour-button-0"><a href="#"  class="btn btn-ghost   th-btn"        >Check Availability</a></div></div></div></div></div></div><!-- /.container --></section>
</div>

	<script>
	jQuery(document).ready(function($) {
		"use strict";

        if (themo_is_touch_device()) {
            $("section#themo_tour_1_0").backstretch("http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_tour_01.jpg");        }
	});
	</script>
<style scoped>
section#themo_tour_1_1{background-image:url('http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_tour_02.jpg'); background-attachment:scroll; background-position:center center; background-repeat:no-repeat; background-size:cover;}section#themo_tour_1_1{padding-top:85px; padding-bottom:85px}</style>


<div  >
<section id="themo_tour_1_1" class=" float-block img-left light-text full-header-img"  >
<div class='container'><div class="row"><div class="float-content col-sm-8"><div class="center-table-con"><div class="center-table-cell"><h2 class="tour-content-title tour-title-1">Transportation Included</h2><div class="tour-content-1"><p>Nulla at mauris accumsan eros ullamcorper tincidunt at nec ipsum. In iaculis est ut sapien ultrices, vel feugiat nulla lobortis. Donec nec quam accumsan, lobortis.</p>
</div><div class="tour-button-1"><a href="#"  class="btn btn-ghost   th-btn"        >Check Availability</a></div></div></div></div></div></div><!-- /.container --></section>
</div>

	<script>
	jQuery(document).ready(function($) {
		"use strict";

        if (themo_is_touch_device()) {
            $("section#themo_tour_1_1").backstretch("http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_tour_02.jpg");        }
	});
	</script>
<style scoped>
section#themo_tour_1_2{background-image:url('http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_tour_03.jpg'); background-attachment:scroll; background-position:center center; background-repeat:no-repeat; background-size:cover;}section#themo_tour_1_2{padding-top:85px; padding-bottom:85px}</style>


<div  >
<section id="themo_tour_1_2" class=" float-block img-right light-text full-header-img"  >
<div class='container'><div class="row"><div class="float-content col-sm-8"><div class="center-table-con"><div class="center-table-cell"><h2 class="tour-content-title tour-title-2">Conference Centre</h2><div class="tour-content-2"><p>Nulla at mauris accumsan eros ullamcorper tincidunt at nec ipsum. In iaculis est ut sapien ultrices, vel feugiat nulla lobortis. Donec nec quam accumsan, lobortis.</p>
</div><div class="tour-button-2"><a href="#"  class="btn btn-ghost   th-btn"        >Check Availability</a></div></div></div></div></div></div><!-- /.container --></section>
</div>

	<script>
	jQuery(document).ready(function($) {
		"use strict";

        if (themo_is_touch_device()) {
            $("section#themo_tour_1_2").backstretch("http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_tour_03.jpg");        }
	});
	</script>
</section></div>
<style scoped>
section#themo_call_to_action_1{background-color:#12292f;}section#themo_call_to_action_1{padding-top:50px; padding-bottom:50px}</style>




<div id='book-your-stay' >
<section id="themo_call_to_action_1" class=" simple-cta light-text"  >
<div class='container'>
	<div class="row">
		<div class='themo-action-text  '>
            <span>Book your stay with us this season</span>
        </div>
    <a href="#" target='_blank' class="btn btn-standard   th-btn"        >Make Reservations</a>	
</div><!-- /.row -->


</div><!-- /.container --></section>
</div>



<style scoped>
section#themo_testimonials_1{background-image:url('http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_testimonials.jpg'); background-attachment:scroll; background-position:center center; background-repeat:no-repeat; background-size:cover;}section#themo_testimonials_1{padding-top:75px; padding-bottom:75px}</style>




<div id='guest-reviews' >
<section id="themo_testimonials_1" class=" testimonials light-text full-header-img"  >
<div class='container'>

<div class="row">
    <div class="section-header col-xs-12 centered">
        <h2 >Guest Reviews</h2>		    		
    </div><!-- /.section-header -->        
</div><!-- /.row -->   
<div class="row ">
    <div class="col-md-4">
        <figure class="quote">
            <blockquote class="tweet blockquote-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad .</blockquote>
            <img width="60" height="60" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/testimonial-1.jpg" class="circle circle-1 wp-post-image" alt="" />
            <figcaption class="figcaption-1">
                Morphy Edward
                <span>Satisfied Customer</span>
            </figcaption>
        </figure> 
    </div> <!-- /.col-md -->
    <div class="col-md-4">
        <figure class="quote">
            <blockquote class="tweet blockquote-2">
            minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</blockquote>
            <img width="60" height="60" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/testimonial-2.jpg" class="circle circle-2 wp-post-image" alt="" />
            <figcaption class="figcaption-2">
                John Sakwe
                <span>Satisfied Customer</span>
            </figcaption>
        </figure> 
    </div> <!-- /.col-md -->
    <div class="col-md-4">
        <figure class="quote">
            <blockquote class="tweet blockquote-3">
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</blockquote>
            <img width="60" height="60" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/06/testimonial-3.jpg" class="circle circle-3 wp-post-image" alt="" />
            <figcaption class="figcaption-3">
                Ebong Grace
                <span>Satisfied Customer</span>
            </figcaption>
        </figure> 
    </div> <!-- /.col-md -->
</div> <!-- /.row -->
</div><!-- /.container -->
</section>
</div>

	<script>
	jQuery(document).ready(function($) {
		"use strict";

        if (themo_is_touch_device()) {
            $("section#themo_testimonials_1").backstretch("http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_testimonials.jpg");        }
	});
	</script>

<!-- START FEATURED TEMPLATE -->
<style scoped>
section#themo_featured_1{padding-top:75px; padding-bottom:75px}</style>


<div id='packages' >
<section id="themo_featured_1" class=" features "  >
<div class='container'><div class="features-inner"><div class="row">
    <div class="section-header col-xs-12 centered">
                		<h2 >Packages</h2>		    	    	<p>Choose from some of the most popular vacation packages</p>
			</div><!-- /.section-header -->        
</div><!-- /.row -->   
<div class="row"><div class="col-md-6"><div class="feature-block"><a href='#'><img width="555" height="290" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01.jpg" class="feature-img-1 wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01.jpg 555w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-300x157.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-191x100.jpg 191w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-255x133.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-153x80.jpg 153w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-77x40.jpg 77w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-480x251.jpg 480w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-500x261.jpg 500w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_01-360x188.jpg 360w" sizes="(max-width: 555px) 100vw, 555px" /></a><h3 class="feature-title-1"><a href='#'>Spa Packages from 100K /person</a></h3><div class="feature-text-1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
</div></div><!-- /.feature-block --></div><!-- /.col-md-6 --><div class="col-md-6"><div class="feature-block"><a href='#'><img width="555" height="290" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02.jpg" class="feature-img-2 wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02.jpg 555w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-300x157.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-191x100.jpg 191w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-255x133.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-153x80.jpg 153w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-77x40.jpg 77w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-480x251.jpg 480w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-500x261.jpg 500w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_02-360x188.jpg 360w" sizes="(max-width: 555px) 100vw, 555px" /></a><h3 class="feature-title-2"><a href='#'>Adventure Packages from 175K</a></h3><div class="feature-text-2">
<p>minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate .</p>
</div></div><!-- /.feature-block --></div><!-- /.col-md-6 --></div><!--/row--><div class="row"><div class="col-md-6"><div class="feature-block"><a href='#'><img width="555" height="290" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03.jpg" class="feature-img-3 wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03.jpg 555w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-300x157.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-191x100.jpg 191w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-255x133.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-153x80.jpg 153w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-77x40.jpg 77w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-480x251.jpg 480w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-500x261.jpg 500w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_03-360x188.jpg 360w" sizes="(max-width: 555px) 100vw, 555px" /></a><h3 class="feature-title-3"><a href='#'>Room Service Specials</a></h3><div class="feature-text-3">
<p>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
</div></div><!-- /.feature-block --></div><!-- /.col-md-6 --><div class="col-md-6"><div class="feature-block"><a href='#'><img width="555" height="290" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04.jpg" class="feature-img-4 wp-post-image" alt="" srcset="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04.jpg 555w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-300x157.jpg 300w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-191x100.jpg 191w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-255x133.jpg 255w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-153x80.jpg 153w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-77x40.jpg 77w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-480x251.jpg 480w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-500x261.jpg 500w, http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_packages_04-360x188.jpg 360w" sizes="(max-width: 555px) 100vw, 555px" /></a><h3 class="feature-title-4"><a href='#'>Exclusive Online Deals</a></h3><div class="feature-text-4"><p>Sed sollicitudin vehicula nisi pretium euismod. Phasellus urna leo, varius in odio sit amet, varius pellentesque tortor.</p>
</div></div><!-- /.feature-block --></div><!-- /.col-md-6 --></div><!--/row--></div></div><!-- /.container --></section>
</div>


<style scoped>
section#themo_call_to_action_2{background-color:#12292f;}section#themo_call_to_action_2{padding-top:50px; padding-bottom:50px}</style>




<div id='look-like-fun' >
<section id="themo_call_to_action_2" class=" simple-cta light-text"  >
<div class='container'>
	<div class="row">
		<div class='themo-action-text  '><span>Does this look like fun? Check out our accomodations.</span></div><a href="#" target='_blank' class="btn btn-cta   th-btn"        >Check Out !</a>	</div><!-- /.row -->


</div><!-- /.container --></section>
</div>



<style scoped>
section#themo_html_1{background-image:url('http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_video.jpg'); background-attachment:scroll; background-position:center bottom; background-repeat:no-repeat; background-size:cover;}section#themo_html_1{padding-top:80px; padding-bottom:80px}</style>


<div id='eat-explore' >
<section id="themo_html_1" class=" content-editor light-text full-header-img"  >
<div class='container'>
    <div class="row">
        <div class="section-header col-xs-12 centered">
            <h2 >Eat, Explore and Experience</h2>		    	    	<p>See what our local community has to offer.</p>
        </div><!-- /.section-header -->        
    </div><!-- /.row -->   
        
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center">
                <a href="https://player.vimeo.com/video/44372899" onclick="__gaTracker('send', 'event', 'outbound-article', 'https://player.vimeo.com/video/44372899', ' ');" data-toggle='lightbox' data-width='1280'><i class='xl-icon accent fa fa-play-circle-o'></i> </a>
        </div>                            	
    </div>
	
</div><!-- /.container -->
</section>
</div>

	<script>
	jQuery(document).ready(function($) {
		"use strict";

        if (themo_is_touch_device()) {
            $("section#themo_html_1").backstretch("http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/uploads/sites/8/2015/08/hotel_home_video.jpg");        }
	});
	</script>

<style scoped>
section#themo_conversion_form_1{
    padding-top:75px; 
    padding-bottom:75px;
}
</style>


<div id='questions' >
    <section id="themo_conversion_form_1" class=" conversion-form "  >
        <div class='container'>
            <div class="row">
                <div class="section-header col-xs-12 centered">
                		<h2 >Questions?</h2>		    		
                </div><!-- /.section-header -->        
            </div><!-- /.row -->   
	       <div class="row">
    	       <div class="col-xs-12">
    		      <div class="simple-conversion">
			         <div class="frm_forms  with_frm_style frm_style_formidable-style" id="frm_form_3_container">
<form enctype="multipart/form-data" method="post" class="frm-show-form " id="form_2ssykv" >
<div class="frm_form_fields ">
<fieldset>

<input type="hidden" name="frm_action" value="create" />
<input type="hidden" name="form_id" value="3" />
<input type="hidden" name="frm_hide_fields_3" id="frm_hide_fields_3" value="" />
<input type="hidden" name="form_key" value="2ssykv" />
<input type="hidden" name="item_meta[0]" value="" />
<input type="hidden" id="frm_submit_entry_3" name="frm_submit_entry_3" value="04e7c23f96" /><input type="hidden" name="_wp_http_referer" value="/bellevue/hotel/" />
<div id="frm_field_16_container" class="frm_form_field form-field  frm_none_container">
    <label for="field_qy05f8" class="frm_primary_label">Name
        <span class="frm_required"></span>
    </label>
    <input type="text" id="field_qy05f8" name="item_meta[16]" value=""  placeholder="Name"  />

    
    
</div>
<div id="frm_field_18_container" class="frm_form_field form-field  frm_none_container">
    <label for="field_2ywico" class="frm_primary_label">Phone Number
        <span class="frm_required"></span>
    </label>
    <input type="text" id="field_2ywico" name="item_meta[18]" value=""  placeholder="Phone Number"  />

    
    
</div>
<div id="frm_field_17_container" class="frm_form_field form-field  frm_required_field frm_none_container">
    <label for="field_3asv29" class="frm_primary_label">Email Address
        <span class="frm_required">*</span>
    </label>
    <input type="text" id="field_3asv29" name="item_meta[17]" value=""  placeholder="Email Address" data-reqmsg="This field cannot be blank."  />

    
    
</div>
<input type="hidden" name="item_key" value="" />
<div class="frm_submit">

<input type="submit" value="Send"  />
<img class="frm_ajax_loading" src="http://bellevue-3c99.kxcdn.com/bellevue/hotel/wp-content/plugins/formidable/images/ajax_loader.gif" alt="Sending" style="visibility:hidden;" />

</div></fieldset>
</div>
</form>
</div>
    		</div>
		</div>
	</div>
</div><!-- /.container --></section>
</div>


        <!-- Comment form for pages -->
	<div class='container'>        <div class="row">
			<div class="col-md-12">
	        

            </div>
        </div>
    </div><!-- /.container -->    <!-- End Comment form for pages -->
    
        
                   
    
    </div><!-- /.inner-container -->
    </div><!-- /.content -->
  </div><!-- /.wrap -->

  
